@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=IM+Fell+English+SC&family=Josefin+Sans&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Festive', cursive;

    font-family: 'IM Fell English SC', serif;

    font-family: 'Josefin Sans', sans-serif;
  /* position: relative; */
}
#navto{
	scroll-behavior: smooth;
	position: fixed;
	width: 100%;
z-index: 2;
overflow: hidden;
	/* opacity: .33; */
}
.ul{
	color:black;
}
.carousel-item{
	width: 100%;
	height: 100vh;
	z-index: 999;
}
hr{
	width: 500px;
}

.mainabout{
	overflow: hidden;
}
#Checkout{
    background: rgb(19, 163, 199);
}
/* #demo{
	overflow: hidden;
} */
footer p{
	margin-bottom: 0;
	overflow: hidden;
}
#about .container{
	overflow: hidden;
}
@media (min-width: 576px) {  
	hr{
		width: 450px;
	}
}
@media (min-width: 412px) {  
	hr{
		width: 400px;
	}
}
@media (min-width: 384px) {  
	hr{
		width: 350px;
	}
}
@media (min-width: 375px) {  
	hr{
		width: 350px;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
